<footer class="footer-v2">
  <div class="footer-content-v2">
    <div class="footer-section">
      <h3>{{ title }}</h3>
    </div>
    <div class="footer-section">
      <a href="https://ced-cloud-tfs.visualstudio.com/" target="_blank" class="footer-nav-link">Azure DevOps</a>
      <a href="https://portal.azure.com/#home" target="_blank" class="footer-nav-link">Azure Portal</a>
      <a href="https://wa-prospectfrportal-qa.azurewebsites.net/#/pages/login" target="_blank" class="footer-nav-link">Prospect</a>
    </div>
  </div>
</footer>